#APPLICATION
PORT=4000
NODE_ENV=development

#JWT
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=7d

#DATABASE
DATABASE_URL=postgresql://user:password@host:5432/database?sslmode=require

#CORS
CORS_ORIGINS=http://localhost:3000
